{{template "authenticatedheader"}}
{{template "authenticatednavbar"}}

<section>
  <div class="container">
    <div class="row">
      <div class="col m3">
        <div class="card-panel teal">
          <h3 class="white-text"><a href="/user/profile/apps/todo">Todo App</a> 
          </h3>
        </div>
      </div>
      <div class="col m3">
        <div class="card-panel teal">
          <h3 class="white-text">App 2
          </h3>
        </div>
      </div>
      <div class="col m3">
        <div class="card-panel teal">
          <h3 class="white-text">App 3
          </h3>
        </div>
      </div>
      <div class="col m3">
        <div class="card-panel teal">
          <h3 class="white-text">App 4
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

{{template "authenticatedfooter"}}
