{{define "title"}}{{.UserName}} Profile{{end}}
{{template "authenticatedheader"}}
{{template "authenticatednavbar"}}

<section>
  <div class="row">
    <div class="col m3">
      
    </div>
    <div class="col s12 m6">
        <form method="POST" class="card hoverable">
          <div class="row margin">
            <div class="col s12 center">
              <input type="text" id="txtTitleBox" name="title" class="text-black darken-5" placeholder="{{.Todo.Title}}"/>  
              <input type="text" id="txtNameBox" name="name" class="black-text darken-5" placeholder="{{.Todo.Name}}"/>
              <input type="text" id="txtDueDateBox" type="date" class="datepicker" name="due" placeholder="{{.Todo.Due}}"/>
              <input type="checkbox" id="sub" name="completed" value="completed"/>
              <label for="sub">Completed</label>  
                    
              <input type="submit" class="btn btn-flat pink white-text">
            </div>             
          </div>
        </form>
    </div>
    <div class="col m3">  
     	
    </div>
  </div>
</section>

{{template "authenticatedfooter"}}
