{{define "title"}}{{.UserName}} Profile{{end}}
{{template "authenticatedheader"}}
{{template "authenticatednavbar"}}

<div class="container gray">
    <div class="row">
      <div  class="col m1">
        
      </div>
      <div  class="col s12 m10">
        <form method="POST" class="card hoverable">
          <div class="row margin">
            <div class="col s12 center">
              <input type="text" id="txtTitleBox" name="title" class="text-black darken-5" placeholder="Title"/>  
              <input type="text" id="txtNameBox" name="name" placeholder="Take a note..."/>
              <input type="date" class="datepicker" id="txtDueDateBox" name="due" placeholder="when is it due?" />     
              <input type="submit" class="btn btn-flat pink white-text">
            </div>             
          </div>
        </form>
      </div>
      <div  class="col m1">
        <h4>You have {{.TodoCounter}} todos</h4>
      </div>
    </div>
    <div class="row">
      <div  class="col m1">
        
      </div>
      <div  class="col s12 m10">  
    
        {{range $n := .Todo}} 
              <div class="card white" id="todo-card">
                <a href="/user/profile/apps/todo/update/{{$n.TodoID}}" class="black-text lighten-1"><h4>{{$n.Name}}</h4></a>
                <!-- Modal Structure -->
                  <div class="card-content" id="todo-choices">
                    <ul id="todo-submenu">
                      <li class="black-text"><a class="btn teal white-text" href="/user/profile/apps/todo/update/{{$n.TodoID}}">Edit</a></li>
                      <li class="black-text"><a href="">More</a></li>
                      <li class="black-text">
                        <input type="checkbox" id="sub-{{$n.TodoID}}" name="completed" value="completed"/>
                        <label for="sub-{{$n.TodoID}}">Completed</label>
                      </li>
                      <li class="activator grey-text text-darken-4"><a href="#!"><i class="material-icons right">more_vert</i></a></li>
                    </ul>
                      
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Todo<i class="material-icons right">close</i></span>
                    <a class="btn red white-text" href="/user/profile/apps/todo/delete/{{$n.TodoID}}">Remove</a>
                  </div>
                
              </div>
              
        {{end}}
      </div>
      <div  class="col m1">
        
      </div>
    </div>
  
</div>



{{template "authenticatedfooter"}}
