{{define "navbar"}}
<div class="nav-fixed light-blue darken-1">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo white-text">HEXERENT</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a class="white-text" href="/download">Get the app</a></li>

        <li><a class="white-text" href="/about">About</a></li>
        <li><a class="white-text" href="/login">Login</a></li>
        <li><a class="white-text" href="/register">Register</a></li>
      </ul>
      <ul class="side-nav purple" id="mobile-demo">
        <li><a class="white-text" href="/download">Get the app</a></li>


        <li><a class="white-text" href="/about">About</a></li>
        <li><a class="white-text" href="/login">Login</a></li>
        <li><a class="white-text" href="/register">Register</a></li>
      </ul>
    </div>
  </nav>
</div>

{{end}}
