{{define "navbar"}}

  <nav class="nav white">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo blue-text">HEXERENT</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a class="blue-text" href="/download">Get the app</a></li>

        <li><a class="blue-text" href="/about">About</a></li>
        <li><a class="blue-text" href="/login">Login</a></li>
        <li><a class="blue-text" href="/register">Register</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="blue-text" href="/download">Get the app</a></li>


        <li><a class="blue-text" href="/about">About</a></li>
        <li><a class="blue-text" href="/login">Login</a></li>
        <li><a class="blue-text" href="/register">Register</a></li>
      </ul>
    </div>
  </nav>


{{end}}
