{{template "header"}}
{{template "navbar"}}


<section>
  <div>
    <div>
      <div class="row">
        <div class="col m6">
          <h3 class="teal-text">Blah Blah</h3>
          <h3 class="blue-text">Blah Blah2</h3>
          <h5 class="gray-text">
            <p>some minor text</p>
              <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
              </ul>
          </h5>
          <button class="btn btn-flat blue white-text">Button 1</button>
          <button class="btn btn-flat white blue-text">Button 2</button>
        </div>
        <div class="col m6">
            <div class="card">
              <div class="card-content">
                  <h3 class="blue-text">Hexerent</h3>
                  <br/>
                    <form method="POST" accept-charset="utf-8">
                      <input type="text" name="emailReceiver" placeholder="email">
                      <button class="btn btn-flat white blue-text" name="sendemail">Sub</button>                    
                    </form>
              </div>
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#test4">Test 1</a></li>
                  <li class="tab"><a href="#test5">Test 2</a></li>
                  <li class="tab"><a href="#test6">Test 3</a></li>
                </ul>
              </div>
              <div class="card-content grey lighten-4">
                <div id="test4">Test 1</div>
                <div id="test5">Test 2</div>
                <div id="test6">Test 3</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div>
    <div>
      <div>
        2
      </div>
    </div>
  </div>
</section>

<!--
<p id="demo"></p>
<button onclick="myFunction()" id="butn">Try it</button>

<img src="/public/images/pic.jpg" width="400" height="400" />
<img src="/public/images/titan.jpg" width="400" height="400" />

-->


{{template "footer"}}
