{{template "header"}}
{{template "navbar"}}


<section>
  <div>
    <div>
      <div class="row">
        <div class="col s12 m1 l1">
          
        </div>
        <div class="col s12 m4 l4">          
          <h3 class="blue-text">Welcom to Hexerent</h3>
          <h5 class="teal-text"><i class="material-icons blue-text Tiny">room</i>Find appartments for rental</h5>
          <h5 class="gray-text">
            <p>Are you a property owner?</p>
              <ul>
                <li><i class="material-icons green-text Tiny">done</i>Register your appartments</li>
                <li><i class="material-icons green-text Tiny">done</i>Advertise with us</li>
                <li><i class="material-icons green-text Tiny">done</i>Grow your business</li>
              </ul>
          </h5>
        </div>
        <div class="col s12 m1 l1">
          
        </div>
        <div class="col s12 m5 l5">
            <div class="card hoverable z-depth-4">
              <div class="card-content grey lighten-4">
                <div id="test4">
                  <h4 class="blue-text">Subscribe to receive updates on our service</h4>
                  <br/>
                    <form method="POST" accept-charset="utf-8">
                      <input type="email" name="emailReceiver" placeholder="markzukerburge@example.com" class="validate">
                      <button class="btn btn-flat yellow black-text" name="sendemail">Subscribe</button>                    
                    </form>
                </div>
                <div id="test5">

                    <h3>QR reader here</h3>
                </div>
              </div>
              <div class="card-content">

              </div>
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#test4">Subscribe</a></li>
                  <li class="tab"><a href="#test5">Scan</a></li>
                </ul>
              </div>

            </div>
        </div>
        <div class="col s12 m1 l1">
          
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div>
    <div>
      <div>
        2
      </div>
    </div>
  </div>
</section>

<!--
<p id="demo"></p>
<button onclick="myFunction()" id="butn">Try it</button>

<img src="/public/images/pic.jpg" width="400" height="400" />
<img src="/public/images/titan.jpg" width="400" height="400" />

-->


{{template "footer"}}
