{{template "authenticatedheader"}}
{{template "authenticatednavbar"}}


{{ $listOfPosts := .PostsLists}}
{{ $listOfComments := .CommentLists}}


<section>
  <div class="row">
    <div class="col m2">
        <div>
          {{template "links"}}
        </div>
    </div>
    <div class="col s12 m5">
        <div>
            <div class="card">
              <div class="card-content grey lighten-4">
                <div id="test4">
                  <h5 class="blue-text">Say something</h5>
                    <form method="POST" accept-charset="utf-8">
                      <input type="text" name="homeFeedPost" placeholder="what's up?">
                      <button class="btn btn-flat white blue-text" name="sendemail" id="btnHomePost">Post</button>                    
                    </form>                  
                </div>
                <div id="test5">
                 <h5 class="blue-text">Take a pic</h5>
                    <form method="POST" accept-charset="utf-8">
                      <input type="text" name="emailReceiver" placeholder="email">
                      <button class="btn btn-flat white blue-text" name="sendemail">Post</button>                    
                    </form>
                </div>
            
              </div>
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#test4">Test 1</a></li>
                  <li class="tab"><a href="#test5">Test 2</a></li>
                </ul>
              </div>

            </div>
        </div>
        <div>
         
        </div>
    </div>
    <div class="col m3">
        3
    </div>
    <div class="col m2">
        4
    </div>
  </div>
</section>



<section>
  <div>
    <div>
      <div>
        Home {{.Sess1.UserName}}
        Are you a first time user? {{.Sess2}}
      </div>
    </div>
  </div>
</section>


<section>
   
<div class="row">
  <div class="col m2">

  </div>
  <div class="col s12 m7"> 
      <div id="home-feeds">
          {{ range $value := $listOfPosts}}
          <div class="card hoverable z-depth-3" id="homePost">
            <div>
              <h6 class="gray-text lighten-3"> Posted {{ $value.DatePosted }}</h6><h5> by {{ $value.Author }}</h5>
            
              <h5 class="blue-text">{{ $value.Topic }}</h5>
              
              <p><h5>{{ $value.Content }}</h5></p>
              <p><a href="#">More</a></p>
              <br>
              <div class="container">
                <div class="row" style="display: inline;" data-inline="true">
                  <table class="responsive-table">
                      <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>
                              <form action="/user/home/homepost/liked/{{$value.PostID}}" method="POST">
                                <button class="btn btn-flat blue darken-3 white-text lighten-5" type="submit" id="btnLike" formmethod="POST" formaction="/user/home/homepost/liked/{{$value.PostID}}">Like</button>
                              </form>
                          </td>
                          <td>
                              <form action="/user/home/homepost/upvoted/{{$value.PostID}}" method="POST" id="btnUpvotes">
                                <button class="btn btn-flat white lighten-4 blue-text" type="submit" formmethod="POST" formaction="/user/home/homepost/upvoted/{{$value.PostID}}">Upvote</button>
                              </form>
                          </td>
                          <td>
                              <form action="/user/home/homepost/downvoted/{{$value.PostID}}" method="POST" id="btnDownvotes">
                                <button class="btn btn-flat white lighten-4 blue-text" type="submit" formmethod="POST" formaction="/user/home/homepost/downvoted/{{$value.PostID}}">Downvote</button>
                              </form>              
                          </td>
                          <td>
                              
                                <button class="btn btn-flat white lighten-4 blue-text">Comment</button>
                            
                          </td>
                          <td>
                              <form action="/user/home/homepost/shared/{{$value.PostID}}" method="POST" id="btnShare">
                                <button class="btn btn-flat white lighten-4 blue-text" type="submit" formmethod="POST" formaction="/user/home/homepost/shared/{{$value.PostID}}">Share</button>
                              </form>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
              
             
              <div class="container">
                <div class="row-center">
                  <a class="blue-text">{{ $value.Likes }} likes</a>
                  <a class="teal-text">{{ $value.Upvotes }} upvotes</a>
                  <a class="red-text">{{ $value.Downvotes }} downvotes</a>
                  <a class="red-text">{{ $value.Comments }} comments</a>
                  <a class="red-text">? shares</a>
                </div>
              </div>
              <div class="container">
                <div class="row-center">                                  
                    <form method="POST" action="/user/home/homepost/commented/{{$value.PostID}}" id="btnCommentPost" accept-charset="utf-8">
                      <input type="text" name="commentPost" placeholder="comment">
                      <button class="btn btn-flat white blue-text" name="sendComment" formmethod="POST" formaction="/user/home/homepost/commented/{{$value.PostID}}">Post</button>                    
                    </form>  
                </div>
                <div class="row-center">
                  <div>
                    {{ range $commentValue := $listOfComments}}
                      {{ if eq $commentValue.PostID $value.PostID}}
                        <p>{{$commentValue.CommentText}}</p>
                      {{ else }}
              
                      {{ end }}  
                    {{ end }}
                  </div>                  
                </div>
              </div>

            </div>

                
          </div>
          {{ end }}
      </div>
  </div>
  <div class="col m3">
    
  </div>
</div>
</section>



{{template "authenticatedfooter"}}
