{{template "authenticatedheader"}}
{{template "authenticatednavbar"}}

{{ $listOfPosts := .PostsLists}}
{{ $listOfComments := .CommentLists}}
<div class="row">  
  <div class="col m3">
        {{template "links"}}
  </div>
  <div class="col s12 m6">
      <div>
          <div class="card">
            <div class="card-content grey lighten-4">
              <div id="textPostTab">
                <h5 class="blue-text">Say something</h5>
                  <form method="POST" accept-charset="utf-8">
                    <input type="text" name="homeFeedPost" placeholder="what's up?" id="homeFeedPost">
                    <button type="submit" class="btn btn-flat blue darken-2 white-text" name="postToHome" id="btnHomePost">Post</button>                    
                  </form>                  
              </div>
              <div id="photoPostTab">
                <h5 class="blue-text">Post a pic</h5>
                  <form accept-charset="utf-8">
                    <input type="text" name="emailReceiver" placeholder="post a pic">
                    <button class="btn btn-flat yellow text-black" name="sendemail">Post</button>                    
                  </form>
              </div>          
            </div>
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#textPostTab">Text</a></li>
                <li class="tab"><a href="#photoPostTab">Photo</a></li>
              </ul>
            </div>
          </div>
      </div>
  </div>
  <div class="col m3">     
  </div>
</div>
   
<div class="row">
  <div class="col m3">
  </div>
  <div class="col s12 m6"> 
      <div id="home-feeds">
          {{ range $value := $listOfPosts}}
          <div class="card hoverable z-depth-3" id="homePost">
            <div>
              <h6 class="gray-text lighten-3"> Posted {{ $value.DatePosted }}</h6><h5> by {{ $value.UserName }}</h5>            
              <h5 class="blue-text">{{ $value.Topic }}</h5>              
              <p class="minimize">{{ $value.Content }}</p>             
              <br>
              <div class="container">
                <div class="row" style="display: inline;" data-inline="true">
                  <form method="POST">                             
                    <button class="btn btn-flat blue darken-3 white-text lighten-5" type="submit" formmethod="POST" formaction="/user/home/homepost/liked/{{$value.PostID}}" id="likeForm-{{$value.PostID}}">Like</button>
                    <button class="btn btn-flat white lighten-4 blue-text" type="submit" formmethod="POST" formaction="/user/home/homepost/upvoted/{{$value.PostID}}">Upvote</button>
                    <button class="btn btn-flat white lighten-4 blue-text" type="submit" formmethod="POST" formaction="/user/home/homepost/downvoted/{{$value.PostID}}">Downvote</button>             
                  </form>
                    <button class="commentButtonToggler btn btn-flat white lighten-4 blue-text" id="btnCommentToggler{{$value.PostID}}">Comment</button>
                    <button class="btn btn-flat white lighten-4 blue-text">Share</button>                  
                </div>
              </div>
              <div class="container">
                <div class="row-center">
                  <a class="blue-text">{{ $value.Likes }} likes</a>
                  <a class="teal-text">{{ $value.Upvotes }} upvotes</a>
                  <a class="red-text">{{ $value.Downvotes }} downvotes</a>
                  <a class="red-text">{{ $value.Comments }} comments</a>
                  <a class="red-text">? shares</a>
                </div>
              </div>
              <div class="commentBoxToggler container" id="commentDiv{{$value.PostID}}">
                <div class="row-center">                                  
                    <form method="POST" action="/user/home/homepost/commented/{{$value.PostID}}" id="btnCommentPost" accept-charset="utf-8">
                      <input type="text" name="commentPost" placeholder="comment">
                      <button class="btn btn-flat white blue-text" name="sendComment" formmethod="POST" formaction="/user/home/homepost/commented/{{$value.PostID}}">Post</button>                    
                    </form>  
                </div>
                <div class="row-center">
                    {{ range $commentValue := $listOfComments}}
                      {{ if eq $commentValue.PostID $value.PostID}}
                        <p>{{$commentValue.CommentText}}</p>
                      {{ else }}              
                      {{ end }}  
                    {{ end }}                 
                </div>
              </div>
            </div>
          </div>
          {{ end }}
      </div>
  </div>
  <div class="col m3">
     {{ template "homefeeds" }}
  </div>
</div>
{{template "authenticatedfooter"}}